.settings-list,
.settings-list-empty {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.settings-list-empty {
    background-color: #adadad;
    box-sizing: border-box;
    min-height: 125px;
    padding-left: 20px;
    padding-top: 20px;
}

.avatar {
    float: left;
    margin: 10px;
}

.avatar h5 {
    text-align: center;
    margin: 5px 0 0 0;
    width: 128px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.avatar img {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px -3px 3px 3px #CCC;
}

.account {
    margin-top: 15px !important;
}

.account h1 {
    overflow: auto;
    padding-top: 6px !important;
}

.account input {
    margin-left: 10px !important;
}

.actions {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td {
    vertical-align: top;
}

tr td:first-child {
    width:1%;
    white-space:nowrap;
}

.notify {
    padding: 10px;
}

.notify label {
    font-weight: 400;
}